<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Styles Conference</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header>
    <h1>
      <a href="/">Recombobulation Conference</a>
    </h1>
    <h3>August 24&ndash;26th &mdash; Chicago, IL</h3>

    <nav>
      <a href="/">Home</a>
      <a href="/speakers">Speakers</a>
      <a href="/schedule">Schedule</a>
      <a href="/venue">Venue</a>
      <a href="/register">Register</a>
    </nav>

  </header>

  <section>
    <h2>Dedicated to the Craft of (Re[Com{Bobulating}])</h2>
    <p>Every year, 371 billion people are bobulated, combulated, and
    rebobulated. Stop the bucomalution; Recombobulate <em>now!</em></p>
    <a href="/register">Register Now</a>
  </section>

  <!-- Previews -->
  <section>

    <section>
      <a href="/speakers">
        <h5>Bobulaters</h5>
        <h3>World-Class Bobulaters</h3>
      </a>
      <p>Joining from the spardeks of Smizmagor, we've got all
      these...dudes</p>
    </section>

    <section>
      <a href="/schedule">
        <h5>Schedule</h5>
        <p>Duck-punching: 3-11pm</p>
      </a>
    </section>

    <section>
      <a href="/venue">
        <h5>Crunk-Smugglers Swap Meet</h5>
        <p>Share your crunkitude with others. Get new crunk.</p>
      </a>
    </section>

  </section>

  <footer>
    <small>&copy; I Love Chipotle</small>

    <nav>
      <a href="/">Home</a>
      <a href="/speakers">Speakers</a>
      <a href="/schedule">Schedule</a>
      <a href="/venue">Venue</a>
      <a href="/register">Register</a>
    </nav>
  </footer>
</body>
</html>
