<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Styles Conference</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header>
    <h1>Recombobulation Conference</h1>
    <h3>August 24&ndash;26th &mdash; Chicago, IL</h3>
  </header>
  <section>
    <h2>Dedicated to the Craft of (Re[Com{Bobulating}])</h2>
    <p>Every year, 371 billion people are bobulated, combulated, and
    rebobulated. Stop the bucomalution; Recombobulate <em>now!</em></p>
  </section>

  <!-- Previews -->
  <section>

    <section>
      <h5>Bobulaters</h5>
      <h3>World-Class Bobulaters</h3>
      <p>Joining from the spardeks of Smizmagor, we've got all
      these...dudes</p>
    </section>

    <section>
      <h5>Schedule</h5>
      <p>Duck-punching: 3-11pm</p>
    </section>

    <section>
      <h5>Crunk-Smugglers Swap Meet</h5>
      <p>Share your crunkitude with others. Get new crunk.</p>
    </section>

  </section>

  <footer>
    <small>&copy; I Love Chipotle</small>
  </footer>
</body>
</html>
