{{define "footer"}}
  <footer class="primary-footer container group">
    <small>&copy; I Love Chipotle</small>

    <nav>
      <a href="/">Home</a>
      <a href="/speakers">Speakers</a>
      <a href="/schedule">Schedule</a>
      <a href="/venue">Venue</a>
      <a href="/register">Register</a>
    </nav>
  </footer>
{{end}}
