{{ define "title" }}Happy Farm{{ end }}
{{ define "tylesheets" }}{{ end }}

{{ define "body" }}
<h1>Welcome to our happy little farm</h1>
<p>The cow goes, "{{.Cowsay}}"</p>
<ul>
  <li>This page brought to you by {{.Sponsor}}</li>
  <li>Fack</li>
</ul>
{{ end }}

{{ define "javascript" }}{{ end }}
