/*
 ========================================
 Grid
 ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    /* No set margin + auto tells the browser to figure out equal l/r margins,
     * thus centering the element.
     */
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

.btn {
    /* Smooth corners */
    border-radius: 5px;
    /* Display alongside other inline elements */
    display: inline-block;
    /* No space outside the border */
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}

.hero {
    padding: 22px 80px 60px 80px;
}
